<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-label color="white" class="ion-margin ion-padding-start">
      Welcome
      <p>
        <ion-text class="ion-margin ion-padding-start">Back</ion-text>
      </p>
    </ion-label>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>


    <ion-list lines="full">
      <ion-list-header class="ion-margin">
        <ion-label>Login</ion-label>
      </ion-list-header>
      <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
        <form novalidate [formGroup]="AccountForm" >
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-input
                formControlName="userName"
                placeholder="Enter User Name"
                type="text"
              ></ion-input>
            </ion-item>
            <ion-text
              *ngIf="!AccountForm.get('userName').valid && AccountForm.get('userName').touched"
            >
              <ion-text
                class="error"
                *ngIf="AccountForm.get('userName').hasError('required')"
                color="danger"
              >
                * Please Enter The User Name
              </ion-text>
            </ion-text>
          </div>
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-icon
                [name]="type ? 'eye-outline' : 'eye-off-outline'"
                slot="end"
                color="medium"
                (click)="changeType()"
              ></ion-icon>
              <ion-input
                formControlName="password"
                placeholder="Enter Password"
                [type]="type ? 'password' : 'text'"
                
              ></ion-input>
            </ion-item>
            <ion-text
            *ngIf="!AccountForm.get('password').valid && AccountForm.get('password').touched"
          >
            <ion-text
              class="error"
              *ngIf="AccountForm.get('password').hasError('required')"
              color="danger"
            >
              * Please Enter The Password
            </ion-text>
          </ion-text>
          </div>

        </form>

        <ion-item lines="none" class="ion-padding-top">
          <ion-text bold slot="start" routerLink="/forgot-password">
            Forgot Password?
          </ion-text>
          <ion-button size="large" color="danger" slot="end" (click)="submit()" [disabled]="(AccountForm.invalid && AccountForm.touched)">Login</ion-button>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-row>
</ion-footer>
