<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button
      slot="start"
      menu="sidenav"
      color="light"
    ></ion-menu-button>
    <ion-title class="ion-text-center" color="light">
      Cancelled Order Management</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="switchStyle()">
        <ion-icon color="light" name="bulb"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin">
  <ion-row>
    <ion-col>S.No</ion-col>
    <ion-col>Item Name</ion-col>
    <ion-col>Amount</ion-col>
    <ion-col>Reason</ion-col>
    
  </ion-row>
  <ion-row *ngFor="let song of ordercncl">
    <ion-col>{{song.id}}</ion-col>
    <ion-col>{{song.item_Name}}</ion-col>
    <ion-col>{{song.amount}}</ion-col>
    <ion-col>{{song.reason}}</ion-col>
    
  </ion-row>
  </ion-grid>
</ion-content>
