<ion-app>
  <ion-menu side="start" menuId="sidenav" >
    <ion-header>
      <ion-toolbar>
        <ion-title color="light">Grocery Store</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="sidenav">
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="cart" slot="start" color="light"></ion-icon>
            <ion-label>Inventory Management</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="sidenav">
          <ion-item lines="none" routerLink="/order-mgmt">
            <ion-icon name="checkbox-outline" slot="start" color="light"></ion-icon>
            <ion-label>Order Management</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="sidenav">
          <ion-item lines="none" routerLink="/delivery-boy">
            <ion-icon name="bicycle" slot="start" color="light"></ion-icon>
            <ion-label>DeliveryBoy Management</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="sidenav">
          <ion-item lines="none" routerLink="/order-cancelled">
            <ion-icon name="close" slot="start" color="light"></ion-icon>
            <ion-label> Cancelled Order Management</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
