<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button
      slot="start"
      menu="sidenav"
      color="light"
    ></ion-menu-button>
    <ion-title class="ion-text-center" color="light">Offline Order Management</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" fill="outline" color="light" (click)="openModal()">
        <ion-icon size="small" slot="icon-only" name="add" color="light"></ion-icon>
        Add
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="switchStyle()">
        <ion-icon color="light" name="bulb"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item slot="end">
  <ion-button size="small" fill="outline" color="danger" >
    <ion-icon size="small" name="add" color="danger"></ion-icon>
  </ion-button>
</ion-item>
  <ngx-datatable
    [rows]="offlineorder"
    [ngClass]="tableStyle"
    [rowHeight]="'auto'"
    [headerHeight]="50"
    [columnMode]="'force'"
  >
  <ion-button size="small" fill="outline" color="danger" >
    <ion-icon size="small" name="add" color="danger"></ion-icon>
  </ion-button>
    <ngx-datatable-column
      name="orderId"
      [sortable]="false"
    ></ngx-datatable-column>
    <ngx-datatable-column name="items"></ngx-datatable-column>
    <ngx-datatable-column name="amount"></ngx-datatable-column>
    <ngx-datatable-column name="paymentType"></ngx-datatable-column>
    <ngx-datatable-column name="Actions" [sortable]="false">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
         <ion-button size="small" fill="outline" color="danger" >
          <ion-icon size="small" name="trash" color="danger"></ion-icon>
        </ion-button>
        </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</ion-content>
