<ion-header>
  <ion-toolbar>
      <ion-title>Add Delivery Boy Details</ion-title>
  <ion-button slot="end" color="light" (click)="dismissModal()"> Close</ion-button>
  
  </ion-toolbar>
  </ion-header>
  <ion-content>
  
    <ion-item >
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Gender</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Age</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Adhaar No</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-button expand="block">Add</ion-button>
  </ion-content>
  