<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Edit Detail</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="updateItemForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="mailid" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input formControlName="age" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Gender</ion-label>
        <ion-input formControlName="gender" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Adhaar Nmber</ion-label>
        <ion-input formControlName="adhaarNo" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mobile Number</ion-label>
        <ion-input formControlName="mobileNumber" type="text" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>

