<ion-header>
  <ion-toolbar>
      <ion-title>Edit Items</ion-title>
  <ion-button slot="end" color="light" (click)="dismissModal()"> Close</ion-button>
  
  </ion-toolbar>
  </ion-header>
  <ion-content>
  
    <ion-item >
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Type</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-button expand="block">Add</ion-button>
  </ion-content>
  