<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button
      slot="start"
      menu="sidenav"
      color="light"
    ></ion-menu-button>
    <ion-title class="ion-text-center" color="light"
      >Order Management</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="switchStyle()">
        <ion-icon color="light" name="bulb"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>S.No</ion-col>
      <ion-col>Order Id</ion-col>
      <ion-col>Items</ion-col>
      <ion-col>Amount</ion-col>
      <ion-col>Payment Type</ion-col>
      
    </ion-row>
    <ion-row *ngFor="let song of order">
      <ion-col>{{song.id}}</ion-col>
      <ion-col>{{song.orderId}}</ion-col>
      <ion-col>{{song.items}}</ion-col>
      <ion-col>{{song.amount}}</ion-col>
      <ion-col>{{song.paymentType}}</ion-col>
     
    </ion-row>
  </ion-grid>
</ion-content>
