<ion-header [translucent]="true">
  <ion-toolbar >
  
    <ion-menu-button slot="start" menu="sidenav" color="light"></ion-menu-button>
    <ion-title class="ion-text-center" color="light">Delivery Boy Management</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)= "switchStyle()">
  <ion-icon  color="light" name="bulb"  > </ion-icon>
  </ion-button>
  </ion-buttons>
  </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/delivery-boy/add-details">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>S.No</ion-col>
        <ion-col>Name</ion-col>
        <ion-col>E-Mail</ion-col>
        <ion-col>Age</ion-col>
        <ion-col>Gender</ion-col>
        <ion-col>Adhaar number</ion-col>
        <ion-col>Mobile Number</ion-col>
        <ion-col>Action</ion-col>
      </ion-row>
      <ion-row *ngFor="let song of demo">
        <ion-col>{{song.id}}</ion-col>
        <ion-col>{{song.name}}</ion-col>
        <ion-col>{{song.mailid}}</ion-col>
        <ion-col>{{song.age}}</ion-col>
        <ion-col>{{song.gender}}</ion-col>
        <ion-col>{{song.adhaarNo}}</ion-col>
        <ion-col>{{song.mobileNumber}}</ion-col>
        <ion-col> <div class="song-note" song-end>
          <ion-button size="small" fill="outline" color="primary"  [routerLink]="['/delivery-boy/edit-details/', song.id]">
            <ion-icon size="small" name="create" color="primary"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="outline" color="danger"  (click)="deleteItem(song.id)">
            <ion-icon size="small" name="trash" color="danger"></ion-icon>
          </ion-button>
        </div></ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
  