<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-label color="white" class="ion-margin ion-padding-start">
      Change Your Password

    </ion-label>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-list lines="full">
      <ion-list-header class="ion-margin">
        <ion-label>New Password </ion-label>
      </ion-list-header>
      <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
        <form [formGroup]="form">

          <div class="ion-margin-vertical">
            <ion-item>
              <ion-icon
                [name]="type ? 'eye-outline' : 'eye-off-outline'"
                slot="end"
                color="medium"
                (click)="changeType()"
              ></ion-icon>
              <ion-input
                formControlName="newpassword"
                placeholder="Enter New Password"
                [type]="type ? 'password' : 'text'"
              ></ion-input>
            </ion-item>
            <ion-text
            *ngIf="!form.get('newpassword').valid && form.get('newpassword').touched"
          >
            <ion-text
              class="error"
              *ngIf="form.get('newpassword').hasError('required')"
              color="danger"
            >
              * Please Enter The Password
            </ion-text>
          </ion-text>
          </div>
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-icon
                [name]="type ? 'eye-outline' : 'eye-off-outline'"
                slot="end"
                color="medium"
                (click)="changeType()"
              ></ion-icon>
              <ion-input
                formControlName="cnfpassword"
                placeholder="Confirm Password"
                [type]="type ? 'password' : 'text'"
              ></ion-input>
            </ion-item>
            <ion-text
            *ngIf="!form.get('cnfpassword').valid && form.get('cnfpassword').touched"
          >
            <ion-text
              class="error"
              *ngIf="form.get('cnfpassword').hasError('required')"
              color="danger"
            >
              * Please Enter The Password
            </ion-text>
          </ion-text>
          </div>

        </form>

        <ion-item lines="none" class="ion-padding-top">
          <ion-button color="danger" expand="block" slot="end" routerLink="/login-screen" >
            <ion-text class="txt">Submit</ion-text>
          </ion-button>
      </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-row>
</ion-footer>
