<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button
      slot="start"
      menu="sidenav"
      color="light"
    ></ion-menu-button>
    <ion-title class="ion-text-center" color="light">Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="switchStyle()">
        <ion-icon color="light" name="bulb"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="ion-text-center ion-margin-bottom">
    <ion-icon name="person-outline"></ion-icon>
    <h1 style="font-size: 1.4em;" class="ion-no-margin">
      Welcome,<br />
      Mr.Bharat
    </h1>
  </section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center ion-padding" color="medium">
          <ion-icon name="person"></ion-icon>
          <h2>Profile</h2>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center ion-padding" color="medium">
          <ion-icon name="bar-chart-outline"></ion-icon>
          <h2>Sales</h2>
        </ion-card>
      </ion-col>
    </ion-row>  
  </ion-grid>
  
</ion-content>
