<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button
      slot="start"
      menu="sidenav"
      color="light"
    ></ion-menu-button>
    <ion-title class="ion-text-center" color="light"
      >Track Daily Sales</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="switchStyle()">
        <ion-icon color="light" name="bulb"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ngx-datatable
    [rows]="order"
    [ngClass]="tableStyle"
    [rowHeight]="'auto'"
    [headerHeight]="50"
    [columnMode]="'force'"
  >
    <ngx-datatable-column
      name="id"
      [sortable]="false"
    ></ngx-datatable-column>
    <ngx-datatable-column name="items"></ngx-datatable-column>

    <ngx-datatable-column name="amount"></ngx-datatable-column>
    <ngx-datatable-column name="date"></ngx-datatable-column>
  </ngx-datatable>
</ion-content>
