<ion-header>
  <ion-toolbar>
    <ion-title>add-Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="demoform" (ngSubmit)="onFormSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Type</ion-label>
        <ion-input formControlName="type" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input formControlName="price" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Item Code</ion-label>
        <ion-input formControlName="itemCode" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input formControlName="quantity" type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Add</ion-button>
        </ion-col>
      </ion-row>
  </form>
    </ion-list>

</ion-content>
