<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-label color="white" class="ion-margin ion-padding-start">
      Forgot Your Password
      <p>
        <ion-text class="ion-margin ion-padding-start"
          >Retrieves It Here</ion-text
        >
      </p>
    </ion-label>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-list lines="full">
      <ion-list-header class="ion-margin"> Forgot Password </ion-list-header>
      <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
        <form [formGroup]="form">
          <div class="ion-margin-vertical">
          <ion-item>
          <ion-input
            formControlName="phone"
            placeholder="Enter Your Phone Number"
            type="tel"
            minlength="10"
            maxlength="10"
          >
          </ion-input>
        </ion-item>
        <ion-text
        *ngIf="!form.get('phone').valid && form.get('phone').touched"
      >
        <ion-text
          class="error"
          *ngIf="form.get('phone').hasError('required')"
          color="danger"
        >
          * Please Enter Phone Number
        </ion-text>
        <ion-text
          class="error"
          *ngIf="form.get('phone').hasError('minlength') && !form.get('phone').hasError('required')"
          color="danger"
        >
          * Please Enter Valid Phone Number
        </ion-text>
      </ion-text>
      </div>
      <ion-item lines="none" class="ion-padding-top">
        <ion-button color="danger" expand="block" slot="end" routerLink="/otp">
          Send Otp
        </ion-button>
    </ion-item>
        </form>
        
      </ion-item-group>
    </ion-list>
  </ion-row>
</ion-footer>
